.container{
    overflow: hidden;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: min(3vw,1rem);
}
.slideRight{
    opacity:0;
    animation:.5s slideright forwards;
}
.slideLeft{
    opacity:0;
    animation:.5s slideleft forwards;
}

.skillHeader{
    text-align: center;
}

.SkillsContainer{
    display: flex;
    position: relative;
    height: 100%;
    padding: 0.5rem min(2vw,1rem);
    margin:1rem 0;
    min-width: fit-content;
    width: 100%;
    transition: .5s height;
    align-items: center;
    overflow: hidden;
    background-color: rgba(var(--foreground-rgb),.02);
}
.skillContent{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    height: fit-content;
    max-height: 100%;
    padding: 0 min(2vw, 1rem);
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 0.5rem;
}
.skill{
    display:flex;
    margin-bottom:1rem;
}
.skillName{
    color: #ff8b3e;
    font-size: min(4vw,1rem);
}
.title{
    width:25%;
    min-width: min(29vw, 8rem);
}
.progressBar{
    position: relative;
    width:100%;
    border-radius:.25rem;
    padding: 0.25rem;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proficiency{
    position:relative;
}

.progress{
    content:"";
    position:absolute;
    left:0;
    top:0;
    height: 100%;
    background-color: #ffa86f;
    z-index:-1;
    max-width:0%;
    animation: .5s load forwards ease-in;
    filter:hue-rotate(0deg);
    transition: 1s filter;

}
.proficiency{
    opacity:0;
    animation: .25s fadein forwards;
}
.cycleButton{
    cursor:pointer;
    line-height:0;
}

.cycleButton:first-child  svg{
    transform:translateX(20%)
}


@keyframes load{
    from{
        max-width: 0%;
    }
    to{
        max-width:100%;
    }
}

@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes slideleft{
    from{
        transform: translateX(100%);
        opacity:0;
    }
    to{
        transform:translateX(0%);
        opacity:1;
    }
}

@keyframes slideright{
    from{
        transform: translateX(-100%);
        opacity:0;
    }
    to{
        transform:translateX(0%);
        opacity:1;
    }
}