@keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
  }
  @keyframes slideleft{
    from{
        transform: translateX(100%);
        opacity:0;
    }
    to{
        transform:translateX(0%);
        opacity:1;
    }
  }
  
  @keyframes slideright{
    from{
        transform: translateX(-100%);
        opacity:0;
    }
    to{
        transform:translateX(0%);
        opacity:1;
    }
  }
  
  @keyframes slideup{
    from{
        transform: translateY(-100%);
        opacity:0;
    }
    to{
        transform:translateY(0%);
        opacity:1;
    }
  }
  
  @keyframes slidedown{
    from{
        transform: translateY(-100%);
        opacity:0;
    }
    to{
        transform:translateY(0%);
        opacity:1;
    }
  }