.container{
    display: flex;
    position:relative;
    flex-direction: column;
    padding:0rem;
    overflow:visible;
    /* margin-top: 1rem; */
}

@media (pointer: coarse) {
    .company{
        overflow: visible;
    }
}


.entries{
    overflow:visible;
    height: 100%;
    width: 100%;
    padding:1rem;
    padding-top:0;
}

@media (pointer: coarse) {
    .entries{
        overflow: visible;
    }
}

.container>h1{
    text-align: center;
    opacity:0;
    transform:translateY(-100%);
    animation: .25s .01s slideup forwards;
    margin-bottom: 1rem;
}

.responsibilities{
    padding:0;
    padding-left:1rem;
    
}
.responsibilities:not(.collapsed,.expanded){
    line-height: 0;
    opacity:0;
    animation:.5s expand forwards;
}

.responsibilities.collapsed{
    line-height: 0;
    opacity:0;
    transition:.25s .25s line-height, .25s opacity;
}
.responsibilities.expanded{
    line-height: 1;
    opacity:1;
    transition:.25s line-height, .25s .25s opacity;
}

.responsibilities li{
    line-height: inherit;
}
.entry{
    position:relative;
    padding:.5rem;
    margin: 1rem 0;
    opacity:0;
    animation: .5s slideup forwards;
    background-color: rgba(var(--foreground-rgb),.02);
    border-radius: .25rem;
}

.entry:first-child{
    margin-top:0;
}

.entry .header{
    display:flex;
    justify-content: space-between;

}

.company{
    color: rgb(var(--primary-color));
}

@media (pointer: coarse) {
    .company{
        color:#2fd5d5 !important;;
    }
}

.dates{
    display:block;
    margin-bottom:.5rem;
}

.toggleCollapse{
    cursor:pointer;
    color:#d9d9d9;
    background-color:rgb(107, 107, 107);
    border-radius:.25rem;
    border:none !important;
    outline:none !important;
    position:absolute;
    top:0;
    right:0;
    margin:.5rem;
    font-size: 0;
    -webkit-appearance: none;
    appearance: none;
}


@keyframes expand{
    0%{
        line-height:0;
        opacity:0;
    }
    50%{
        line-height: 1;
        opacity:0;
    }
    100%{
        line-height: 1;
        opacity:1;
    }
}

@keyframes collapse{
    0%{
        line-height:1;
        opacity:1;
    }
    50%{
        line-height: 1;
        opacity:0;
    }
    100%{
        line-height: 0;
        opacity:0;
    }
}

@keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}

@keyframes slideup{
    from{
        transform: translateY(100%);
        opacity:0;
    }
    to{
        transform:translateY(0%);
        opacity:1;
    }
}

@keyframes slidedown{
    from{
        transform: translateY(-100%);
        opacity:0;
    }
    to{
        transform:translateY(0%);
        opacity:1;
    }
}