.tooltip{
    position:absolute;
    max-width:20rem;
    color:rgb(var(--foreground-rgb));
    padding:.5rem;
    z-index:99;
    transition: .1s top, .1s left;
    opacity:0;
    animation: .25s 1s fadein forwards;
}

.tooltip.active{
    opacity:1;
}

.tooltip::after{
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    background-color:rgb(var(--foreground-rgb));
    top:0;
    left:0;
    filter:invert(.75);
    opacity:.9;
    z-index:-1;
    border-radius: .25rem;;
}

@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}